@font-face {
  font-family: DalaFloda-Bold-Web;
  src: url('https://helpcode.github.io/WebGeek/dist/static/fonts/DalaFloda-Bold-Web.5493b8e.woff');
}
.el-row--flex ,.is-justify-center{
  font-family: DalaFloda-Bold-Web;
}

.web-title {
  padding-top: 8%;
  display: block;
  width: 74%;
  font-size: 300px;
}

.bg-purple {
  text-align: center;
}

.docs {
  text-decoration: none;
  color: #bfbfbf;
  letter-spacing: 2px;
  padding-top: 20px;
  display: block;
}
